body {
	font-size: 18px;
	margin: 0;
	width: 100%;

header {
	div {
		background-color: $purple;
		display: $display-block;
		margin: $margin-header;
	}

	img {
		width: $width-photo;
		height: $height-photo;
		position: $position-photo;
		margin-top: $margin-top-photo;
		margin-left: $margin-left-photo;
		border-radius: $radius-photo;
	}
	h2 {
		color: $white;
		margin-left: $margin-title;
		font-family: $font-family-title;
		font-weight: $title-weight;
	}
	p {
		color: $white;
		margin-left: $margin-text;
		font-family: $font-family-subtitle;
	}	
	h3 {
		color: $white;
		font-family: $font-family-title;
		font-weight: $title-weight;
		margin-left: $margin-title;
	}
	h5 {
		font-family: $font-family-subtitle;
		font-weight: $title-weight;
		text-align: $position-contact;
	}
	ul {
	li {
		font-family: $font-family-subtitle;
		}
	}
	
}

main {
	#competences {
		border: $style-border;
		border-bottom-color: $purple;
		border-right-color: $purple;
		border-top-color: $light-purple;
		border-left-color: $light-purple;
		border-radius: $radius-block;
		margin-bottom: $margin-bottom-block;
	}

	#experience {
		border: $style-border;
		border-radius: $radius-block;
		margin-bottom: $margin-bottom-block;
		border-bottom-color: $purple;
		border-right-color: $purple;
		border-top-color: $light-purple;
		border-left-color: $light-purple;
	}

	#formation {
		border: $style-border;
		border-color: $purple;	
		border-radius: $radius-block;
		margin-bottom: $margin-bottom-block;
		border-bottom-color: $purple;
		border-right-color: $purple;
		border-top-color: $light-purple;
		border-left-color: $light-purple;
	}

	#interet {
		border: $style-border;
		border-color: $purple;	
		border-radius: $radius-block;
		margin-bottom: $margin-bottom-block;
		border-bottom-color: $purple;
		border-right-color: $purple;
		border-top-color: $light-purple;
		border-left-color: $light-purple;
	}



}
}