body {
	font-size: 18px;
	margin: $general-margin;
	width: $general-width;
	font-family: $font-family-subtitle;
	background: url('../photo/white-wall.jpg');
	header {
		.container {
	 		background-color: $purple;
	 		width: $general-width; 
		}
		.color {
			background: url('../photo/blackboard.jpg');
			border: $style-border;
			border-color: $border-color;
			border-width: thick;
		}
		img {
			width: $width-photo;
			height: $height-photo;
			margin-top: $margin-top-photo;
			border-radius: $radius-photo;
			margin-left: $margin-left-photo;		
		}
		h2 {
			font-family: $font-family-title;
			font-weight: $title-weight;
			text-align: $text-align-title;
			color: $white;
		}
		p {
		font-family: $font-family-subtitle;
		}
		h3 {
			font-family: $font-family-title;
			font-weight: $title-weight;
			margin: $general-margin;
			text-align: $text-align-title;	
			color: $white;	
		}
		h6 {
			font-size: $h6-font-size;
			margin: $general-margin;
			text-align: $text-align-title;
			color: $white;		
		}
		strong {
			color: $white;
		}
		.left {
		    width: $title-width;
		    height: $title-height;
		    float: left;
		    margin-left: 30%;
		    margin-top: -15%;
		    text-align: $text-align-title;
		}    
		.right {
		    width: $title-width;
		    height: $title-height;		
		    float: right;     
		    text-align: $text-align-title;  
		}	
	}

	main {
		

		h3 {
			font-weight: $title-weight;
			font-size: 25px;
			text-decoration: underline white;
		}

		#message {
				background: url('../photo/blackboard.jpg');
				border: $style-border;
			    border-color: $border-color;
				border-width: thick;
				width: $message-width;
				margin-left: $message-margin-left;
				color: $white;
				font-weight: $title-weight;
				font-family: $message-font-family;
				text-align: $text-align-message;
				margin-top: $main-margin-top;
				margin-bottom: 4%;
			
		}

		#technos {
			background: url('../photo/blackboard.jpg');
			border: $style-border;
			border-color: $border-color;
			border-width: $border-width;
			text-align: $text-align-title;
			color: $white;
			font-family: $main-font-family;
			
		}

		#competences {
			background: url('../photo/blackboard.jpg');
			border: $style-border;
			border-color: $border-color;
			border-width: thick;
			width: $block-width-left;
			float: left;
			margin-left: 5%;
			margin-top: 4%;
			text-align: $text-align-title;
			color: $white;
			font-family: $main-font-family;
		}

		#experience {
			background: url('../photo/blackboard.jpg');
			border: $style-border;
			border-color: $border-color;
			border-width: thick;
			width: 40%;
			float: right;
			margin-right: 5%;
			margin-top: 4%;
			text-align: $text-align-title;
			color: $white;
			font-family: $main-font-family;
		}

		#formation {
			background: url('../photo/blackboard.jpg');
			border: $style-border;
			border-color: $border-color;
			border-width: thick;
			margin-top: 30%;
			margin-bottom: 2%;
			text-align: $text-align-title;
			color: $white;
			font-family: $main-font-family;
		}

	}

	footer {
		background: url('../photo/white-wall.jpg');

		#interet {
			background: url('../photo/blackboard.jpg');
			border: $style-border;
			border-color: $border-color;
			border-width: thick;
			margin-top: 4%;
			margin-bottom: 2%;
			text-align: $text-align-title;
			color: $white;
			font-family: $main-font-family;

			 h3 {
			 	font-family: $font-family-title;
				font-weight: $title-weight;
				margin: $general-margin;
				margin-bottom: 2%;
				text-align: $text-align-title;	
				color: $white;	
				text-decoration: underline;

			 }

			 i{
			 	margin-left: 10%;
			 	margin-bottom: 1%;
			 }

		}
	}
}