$purple: #8F17B9;
$light-purple: #F2D2FC;
$light-grey: #CBCBCB;
$white: #FFFFFF;



/*header*/
$display-block: inline-block;
$margin-header: 2%;


/*title and subtitle*/
$margin-title: 10%;
$margin-text: 5%;
$font-family-title: Marvel, sans-serif;
$font-family-subtitle: Helvetica, sans-serif;
$title-weight: bold;

/*photo*/
$width-photo: 18%;
$height-photo: 18%;
$position-photo: left;
$margin-left-photo: 2%;
$margin-top-photo: 1%;				
$radius-photo: 10%;	
$border-radius-photo: 50%; 

/*contact*/
$position-contact: right;

/*blocks*/
$style-border: outset;
$radius-block: 5%;
$margin-bottom-block: 2%;	
