$purple: #651897;
$light-purple: #F2D2FC;
$light-grey: #CBCBCB;
$white: #FFFFFF;
$background-image: url(photo/white-wall.jpg);


/*header*/
$display-block: inline-block;
$general-width: 100%;
$general-margin: 0;

/*title and subtitle*/
$margin-title: 10%;
$margin-text: 5%;
$font-family-title: Marvel, sans-serif;
$font-family-subtitle: Helvetica, sans-serif;
$title-weight: bold;
$title-width: 38%;
$title-height: 100%;
$text-align-title: center;

/*photo*/
$width-photo: 10%;
$height-photo: 10%;
$margin-top-photo: 1%;				
$radius-photo: 10%;	
$border-radius-photo: 50%; 
$margin-left-photo: 5%;

/*left*/
$position-contact: right;
$h6-font-size: 90%;

/*border*/
$style-border: inset;
$radius-block: 5%;	
$border-color: #68391F;
$border-width : thick;
$border-background-image: "photo/blackboard.jpg";

/*#message*/
$text-align-message: center;
$message-width: 50%;
$message-margin-left: 26%;
$message-font-family: Shadows Into Light, cursive;

/*block-left*/
$block-width-left: 40%;

/*main*/
$main-font-family: Coming Soon, cursive;
$main-margin-top: 4%;