/*header*/
/*title and subtitle*/
/*photo*/
/*left*/
/*border*/
/*#message*/
/*block-left*/
/*main*/
body {
  font-size: 18px;
  margin: 0;
  width: 100%;
  font-family: Helvetica, sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/30/09/08/white-1872242_960_720.jpg); }
  body header .container {
    background-color: #651897;
    width: 100%; }
  body header .color {
    /*background-color: $purple;*/
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg);
    border: inset;
    border-color: #68391F;
    border-width: thick; }
  body header img {
    width: 10%;
    height: 10%;
    margin-top: 1%;
    border-radius: 10%;
    margin-left: 5%; }
  body header h2 {
    font-family: Marvel, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF; }
  body header p {
    font-family: Helvetica, sans-serif; }
  body header h3 {
    font-family: Marvel, sans-serif;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: #FFFFFF; }
  body header h6 {
    font-size: 90%;
    margin: 0;
    text-align: center;
    color: #FFFFFF; }
  body header strong {
    color: #FFFFFF; }
  body header .left {
    width: 38%;
    height: 100%;
    float: left;
    margin-left: 30%;
    margin-top: -15%;
    text-align: center; }
  body header .right {
    width: 38%;
    height: 100%;
    float: right;
    text-align: center; }
  body main h3 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline white; }
  body main #message {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg);
    border: inset;
    border-color: #68391F;
    border-width: thick;
    width: 50%;
    margin-left: 26%;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Shadows Into Light, cursive;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%; }
  body main #technos {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg);
    border: inset;
    border-color: #68391F;
    border-width: thick;
    text-align: center;
    color: #FFFFFF;
    font-family: Coming Soon, cursive; }
  body main #competences {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg);
    border: inset;
    border-color: #68391F;
    border-width: thick;
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 4%;
    text-align: center;
    color: #FFFFFF;
    font-family: Coming Soon, cursive; }
  body main #experience {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg);
    border: inset;
    border-color: #68391F;
    border-width: thick;
    width: 40%;
    float: right;
    margin-right: 5%;
    margin-top: 4%;
    text-align: center;
    color: #FFFFFF;
    font-family: Coming Soon, cursive; }
  body main #formation {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg);
    border: inset;
    border-color: #68391F;
    border-width: thick;
    margin-top: 30%;
    margin-bottom: 2%;
    text-align: center;
    color: #FFFFFF;
    font-family: Coming Soon, cursive; }
  body footer {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/30/09/08/white-1872242_960_720.jpg); }
    body footer #interet {
      background-image: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg);
      border: inset;
      border-color: #68391F;
      border-width: thick;
      margin-top: 4%;
      margin-bottom: 2%;
      text-align: center;
      color: #FFFFFF;
      font-family: Coming Soon, cursive; }
      body footer #interet h3 {
        font-family: Marvel, sans-serif;
        font-weight: bold;
        margin: 0;
        margin-bottom: 2%;
        text-align: center;
        color: #FFFFFF;
        text-decoration: underline; }
      body footer #interet i {
        margin-left: 10%;
        margin-bottom: 1%; }

/*# sourceMappingURL=style.css.map */
